@config "../../tailwind.config.mjs";
@import "tailwindcss";

/* ===============================
   DESIGN TOKENS (Single Source)
================================ */
:root {
  --background: #b1c0cd;
  --foreground: #d9dfe3;
  --white: #ffffff;
  --vanilla: #f4f3e9;
  --coral: #ff6742;
  --green: #344946;
  --navy: #282d38;
}

/* ===============================
   BASE STYLES
================================ */
body {
  background-color: var(--vanilla);
  color: var(--navy);
  font-family: var(--font-the-seasons), sans-serif;
}

/* ===============================
   GLOBAL CONTAINER (Custom)
================================ */
.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

/* ===============================
   COMMON STYLE
================================ */
.theme-button {
  font-family: var(--font-the-seasons);
  color: var(--white);
  background-color: var(--green);
  text-transform: uppercase;
  border-radius: 25px;
  font-weight: bolder;
}

/* Swiper Js Style */
.swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.4);
  width: 10px;
  height: 10px;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: white;
}
